@import "./header.css";
@import "./home.css";
@import "./aboutus.css";
@import "./proyects.css";
@import "./ourteam.css";
@import "./contact.css";
@import "./form.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{

    --font-family:'Open Sans', sans-serif;
    --font-color-first: #443D5B;
    --font-color-second: #ffffff;
}

.pushbar{
    background-color: #EAE6EB;
    color: white;
    padding: 20px;
}   

.btn-close{
    text-align: right;
    padding: 0;
    margin: 0;
}

.btn-close button{
    text-decoration: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.menu a{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid var(--font-color-first);
    color: var(--font-color-first);
    font-weight: 500;
}