@import "./header.css";
@import "./home.css";
@import "./aboutus.css";
@import "./proyects.css";
@import "./form.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{

    --font-family:'Open Sans', sans-serif;
    --font-color-first: #443D5B;
    --font-color-second: #ffffff;
}

.body1{
    background-color: #fff;
    /* background-image: url("../images/first-build.png"); */
    width: 100%;
}

@media screen and (max-width: 767px) {
    


    /* .body3{
        background-color: var(--font-color-second);
        background-image: none;
        min-height: 1200px;
        border: 10px solid yellow;
    } */

    /*Users*/

    .usercontainer{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 20px;
        height: 1000px;
        overflow: hidden;
    }

    .usercontainer-icon{
        margin-top: 35px;
    }

    .usercontainer-icon img{
        border-radius: 50%;
        background-color: #ccc;
    }

    .usercontainer-info__name{
        font-size: 24px;
        font-weight: 900;
    }

    .usercontainer-info__ocupation{
        font-size: 24px;
        font-weight: 300;
    }
    .usercontainer-info__description{
        font-size: 20px;
        font-weight: 300;
        padding: 0px 40px;
    }
    /* Contact */

    .contact{
        background-color: var(--font-color-first);
        min-height: 1200px;
        z-index: 998;
        color: #fff;
        padding: 0px 30px;
    }
    
    .contact-header{
        font-weight: 700;
        font-size: 35px;
        padding: 90px 0px 20px;
    }

    .contact-icon{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 15px;
        margin: 20px 0px;
    }

    .contact-icon__phone{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 20px 0px;
    }
    
    .contact-icon__direction{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 20px 0px;
    }

    .social-container{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 15px;
        padding: 15px 0;
    }

    .contact-talent__title{
        margin: 10px 0;
    }

    .contact-talent__description{
        font-size: 20px;
    }
    
    .contact-talent__email{
        margin: 10px 0;
        text-decoration: underline;
        font-size: 20px;
    }

    .map{
        width: 100%;
        min-height: 500px;
        margin: 0;
        padding: 0;
    }
    .image-map{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    /*Users*/

    .usercontainer{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        gap: 20px;
        height: 1000px;
    }

    .user{
        align-self: center;
    }

    .usercontainer-icon{
        margin-top: 35px;
    }

    .usercontainer-icon img{
        border-radius: 50%;
        background-color: #ccc;
    }

    .usercontainer-info__name{
        font-size: 24px;
        font-weight: 900;
    }

    .usercontainer-info__ocupation{
        font-size: 24px;
        font-weight: 300;
    }
    .usercontainer-info__description{
        font-size: 20px;
        font-weight: 300;
        padding: 0px 40px;
    }
    /* Contact */

    .contact{
        background-color: var(--font-color-first);
        max-height: 900px;
        z-index: 998;
        color: #fff;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
    }

    .antes-rodri{
        width: 60%;
        height: auto;
    }

    .rodri{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 140px;
        width: 100%;
    }
    
    .rodri-class{
        align-self: stretch;
        width: 50%;
    }

    .rodri-class-dos{
        width: 50%;
        align-self: stretch;
        padding: 200px 30px 0px;

    }
    .contact-header{
        font-weight: 700;
        font-size: 35px;
        padding: 90px 160px 20px 0px;
    }

    .contact-icon{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 15px;
        margin: 20px 0px;
    }

    .contact-icon__phone{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 20px 0px;
    }
    
    .contact-icon__direction{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 20px 0px;
    }

    .social-container{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        gap: 15px;
        padding: 15px 0;
    }

    .contact-talent__title{
        margin: 10px 0;
    }

    .contact-talent__description{
        font-size: 20px;
        padding-right: 30px;
    }
    
    .contact-talent__email{
        margin: 10px 0;
        text-decoration: underline;
        font-size: 20px;
    }

    .map{
        width: 40%;
        min-height: 900px;
        margin: 0;
        padding: 0;
    }
    .image-map{
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

}

  