@import "./header.css";
@import "./home.css";
@import "./aboutus.css";
@import "./proyects.css";
@import "./ourteam.css";
@import "./contact.css";
@import "./form.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{

    --font-family:'Open Sans', sans-serif;
    --font-color-first: #443D5B;
    --font-color-second: #ffffff;
}

.body1{
    background-color: #fff;
    /* background-image: url("../images/first-build.png"); */
    width: 100%;
}


  