@media screen and (max-width: 767px) {
    .proyects{
        background-image: url("../images/second-build.png");
        background-size: cover;
        height: 900px;
        position: relative;
        z-index: 999;
    }

    .proyects-container{
        position: absolute;
        padding: 0px 15px;
        top: 450px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .button > svg{
        background-color: var(--font-color-second);
        width: 35px;
        height: 35px;
        margin: 0;
        padding: 5px;
    }

    .proyects-container__mobile{
        background-color: var(--font-color-second);
        position: absolute;
        margin: 30px;
        top: 750px;
        padding: 5px 10px;
    }

    .proyects-container__mobile h2{
        font-weight: 900;
    }

    .proyects-container__mobile p{
        font-weight: 500;
        font-size: 18px;
    }

    .proyects-container__desktop{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .proyects{
        background-size: cover;
        height: 900px;
        position: relative;
        z-index: 999;
    }

    .proyects-container{
        position: absolute;
        padding: 0px 15px;
        top: 450px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .button > svg{
        background-color: var(--font-color-second);
        width: 35px;
        height: 35px;
        margin: 0;
        padding: 5px;
    }

    .proyects-container__mobile{
        background-color: var(--font-color-second);
        position: absolute;
        top: 850px;
        left: 633px;
        width: 39.7em;
        padding: 5px 10px;
        height: 150px;
    }

    .proyects-container__mobile h2{
        font-size: 36px;
        font-weight: 900;
        padding: 0px 26px;
    }

    .proyects-container__mobile p{
        font-size: 34px;
        z-index: 1000;
        padding: 0px 26px;
    }

    .proyects-container__desktop{
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-height: 1000px;
        width: 100%;
        overflow: hidden;
    }

    .proyects-container__desktop img{
        width: 33.4%;
    }

}